/** CSS STYLE **/
:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --main-color: #fe8a02;
  --dark-main-color: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

html {
  font-size: 10px;
}

body {
  margin: 0;

  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  color: var(--dark);
}

h1, h2, h3 {
  margin: 0;

  font-family: Neucha, Verdana, sans-serif;
  line-height: 1.2em;
  font-weight: 400;
}

h1 {
  font-size: 7.2rem;
}

h2 {
  font-size: 6rem;
  text-align: center;
}

h3 {
  font-size: 3.4rem;
}

.wrapper {
  position: relative;
  max-width: 1110px;
  padding: 100px 0;
  margin: 0 auto;
}

.header {
  overflow: hidden;
}

.header,
.distortion {
  position: relative;
}

.header::before,
.distortion::before {
  content: "";
  background-image: url("../images/background.png");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
  height: 914px;
}

.background-light {
  position: relative;
  background-color: var(--light);
}

.background-dark {
  position: relative;
  color: var(--white);
  background-color: var(--brown);
}

.header__title {
  position: relative;
  z-index: 1;
}

.header__image {
  position: absolute;
  top: 55px;
  right: -270px;
  height: 525px;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
}

.layout-2-column > * {
  flex-basis: 50%;
}

.layout-2-column > *:first-child {
  margin-right: 30px;
}

.text-colored {
  color: var(--main-color);
}

.header__link {
  display: block;
  box-sizing: border-box;
  width: 148px;
  height: 49px;
  padding: 12px 24px;
  margin-top: 40px;
  background-color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
}

.header__description {
  margin-top: 185px;
}

.section-video__text {
  text-align: center;
  margin: 30px 0;
}

.section-video__video {
  display: block;
  margin: -184px auto 0;

  position: relative;
  top: 184px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.section-navigation {
  padding-top: 92px;
  background-color: var(--dark-main-color);
  color: var(--white)
}

.section-navigation__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 30px;
}

.section-navigation__wrapper > * {
  width: 350px;
}

.section-navigation__title {
  font-size: 5.2rem;
  text-align: left;
}

.navigation-item {
  display: block;
  box-sizing: border-box;
  padding: 24px;
  background-color: var(--light);
  text-decoration: none;
}

.navigation-item:hover{
  background-color: var(--main-color);
  transition: 0.3s;
}

.navigation-item:hover > * {
  color: white;
  transition: 0.3s;
}

.navigation-item__num {
  margin: 0;
  padding-bottom: 40px;
  font-size: 6.4rem;
  font-family: Neucha, Verdana, sans-serif;
  line-height: 1em;
  color: var(--dark-main-color)
}

.navigation-item__text {
  color: var(--dark);
  margin: 0;
}

.navigation-item__title {
  padding-bottom: 16px;
}

.distortion-img { 
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.15);

}

.distortion-sub-title {
  margin: 0;

  font-family: Neucha, Verdana, sans-serif;
  font-size: 2.4rem;
}

.dark {
  color: var(--translucent-dark)
}

.light {
  color: var(--translucent-white)
}

.title-background-dark {
  color: var(--white);
  background-color: var(--brown);
}

.title-background-light {
  background-color: var(--white);
  color: var(--brown)
}

.distortion-title {
  margin: 0;

  text-align: left;
}

.distortion-title-description {
  margin: 30px 0;

  font-family: Neucha, Verdana, sans-serif;
  font-size: 3.4rem;
  line-height: 1.2em;
}

.distortion-content-title {
  margin: 100px 0 20px;
  padding-left: 10px;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.distortion-content-text {
  margin: 0;
}

.footer {
  background-color: var(--white);
}

.footer-layout {
  height: 190px;
  align-items: center;
  box-sizing: border-box;
  padding: 0 55px;
  background-color: var(--dark-main-color);
  color: var(--white);
  margin-bottom: 60px;
}

.footer-question {
  font-family: Neucha, Verdana, sans-serif;
  font-size: 3.4rem;
  line-height: 1.2;
}

.input-email {
  box-sizing: border-box;
  height: 50px;
  padding: 15px;
  flex-grow: 1;
  border: none;
}

.footer-button {
  position: relative;
  height: 50px;
  width: 70px;
  background-color: var(--main-color);
  border: none;
}

.footer-button::before {
  content: url(../images/send.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-text {
  text-align: center;
  font-size: 1.4rem;
}

.footer-link {
  color: var(--blue);
}

.service-rule-text {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6;
}

.service-rule-link {
  color: var(--white)
}

.footer-form {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}

.input-form-container {
  display: flex;
  align-items: center;
  margin-top: 9px;
}
